html,
body,
canvas {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.73);
  overflow: hidden;
  font-family: monospace, sans-serif;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.76);
  font-size: 2rem;
}
